html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
}

canvas {
  background: #000;
  display: block;
  height: 100%;
  width: 100%;
  position: fixed
}

.warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
	padding: 20px; 
}

.main {
	margin: 0 auto; 
	max-width: 670px;
	/*background-color: rgba(255, 255, 255, 0.6);
	filter: blur(10px);*/
	position:relative;
	top: 80px; 
}
.main .bg {
	height: 100%;
	width: 100%;
	border-radius: 40px; 
	background-color: rgba(255, 255, 255, 0.6);
	filter: blur(10px);
	position: absolute;
}

.marker-on-map {
	top: 67.58064516129032%; left: 53.225806451612904%;
	background-image: url(../img/skyshard.png);
	background-size: 16px 20px;
	width: 25px;
	height: 20px;
	margin-left: -9px;
	background-position: 100% 0%;
	background-repeat: no-repeat no-repeat;
	position: absolute;
	overflow: hidden;
	
	-moz-transition: all 0.52s ease-out;  /* FF4+ */
	-o-transition: all 0.52s ease-out;  /* Opera 10.5+ */
	-webkit-transition: all 0.52s ease-out;  /* Saf3.2+, Chrome */
	-ms-transition: all 0.52s ease-out;  /* IE10? */
	transition: all 0.52s ease-out;  
}
.collected {
	opacity: 0.33; 
}

#map-holder {
	position: relative;
	width: 100%;
	max-width: 620px;
	
	opacity: 0.9;
	margin: auto;
	padding: 20px 15px;
	border-radius: 5px; 
}
@media only screen and (max-width: 650px) {
	#map-holder {
		padding: 0;
	}
}
.mapa-slika {
	border-radius: 50px; 
}
.container, .map-holder, .mapa-slika {
	max-width: 100%; 
}

